{% extends "base.html" %} 
{% block title %}Book a Room{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<h1 align="center">Book a Room</h1>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="room">
        <table class="table">
            <thead style="background-color: #1470af; color: white;">
                <tr>
                    <th scope="col">Room Name</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <form method="POST" action="{{ url_for('views.book') }}">
                      <td style="text-align: center; text-transform: uppercase; font-weight: bold;">{{ room.name }}</td>
                      <td>
                            <input type="datetime-local" id="start_time-{{ room.id }}" name="start_time" required>
                        </td>
                        <td>
                            <input type="datetime-local" id="end_time-{{ room.id }}" name="end_time" required>
                        </td>
                        <td>
                            <input type="hidden" name="room_id" value="{{ room.id }}">
                            <button type="submit" class="btn btn-primary">Book Room</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="booking-message"></div>

    <!-- Include index.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  
</body>
</html>
{% endblock %}
