{% extends "base.html" %}
{% block title %}Calendar{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 style="margin-top: 20px;">Calendar</h2>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar-container');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                initialView: 'timeGridFourDay',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'timeGridDay,timeGridFourDay,dayGridMonth'
                },
                views: {
                timeGridFourDay: {
                    type: 'timeGrid',
                    duration: { days: 4 },
                    buttonText: '4 day'
                    }
                },
                events: '/get-bookings'
        });

        calendar.render();
        });
    </script>
    <div id="calendar-container"></div>
</div>
{% endblock %}