{% extends "base.html" %}
{% block title %}Calendar{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 style="margin-top: 20px;">Calendar</h2>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar-container');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });
    </script>
    <div id="calendar-container"></div>
</div>
{% endblock %}
